<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scv.chief.impl.IChiefDAO">

	<select id="getTeaSignupList" resultType="com.scv.chief.dto.TeaSignupHisVO">
		SELECT ROWNUM, U.USER_NAME, G.GENDER_NAME, U.USER_BIRTH, U.USER_TEL, T.SIGNUP_DATE
		FROM USERINFO U
		    LEFT JOIN USERCODE UC
		        ON U.USER_CODE = UC.USER_CODE
		    LEFT JOIN TEACHERSIGNUP T
		        ON UC.USER_CODE = T.USER_CODE
		    LEFT JOIN SCHOOL S
		        ON T.SCHOOL_CODE = S.SCHOOL_CODE
		    LEFT JOIN TSIGNUPCHECK TCK
		        ON T.T_SIGNUP_CODE = TCK.T_SIGNUP_CODE
		    LEFT JOIN GENDER G
		        ON U.GENDER_CODE = G.GENDER_CODE
		WHERE S.SCHOOL_CODE = #{schoolCode}
		  AND TCK.T_SIGNUP_CODE IS NULL
	</select>

</mapper>