<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scv.station.impl.IStationDAO">
	
	<!-- 정류장 저장 -->
	<insert id="saveStation">
		INSERT INTO station
		VALUES (seq_stationcode.nextval, #{staff_code}, #{stationName}, #{basicAddr}, #{detailAddr}, #{latitude}, #{longitude}, sysdate)
	</insert>
</mapper>