<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scv.admin.impl.IAdminDAO">

<select id="loginCheck" resultType="java.lang.Integer" parameterType="com.scv.admin.dto.AdminDTO">
	SELECT ADMIN_CODE
	FROM ADMININFO
	WHERE ADMIN_ID = #{adminId}
  		AND ADMIN_PW = CRYPTPACK.ENCRYPT(#{adminPw}, #{adminPw})
</select>

<select id="schoolInfo" resultType="com.scv.admin.dto.SchoolInfoDTO">
	SELECT ROWNUM, SL.SCHOOL_NAME, SU.SIGUNGU_NAME, CCTV_COUNT, CAR_SERVICE_FLAG
	     , CP.BUSINESS_LICENSE, SL.SCHOOL_TEL, CK.SIGNUP_OK_DATE
	FROM SCHOOL SL, CHIEFSIGNUP CP, CSIGNUPCHECK CK, SIGUNGU SU
	WHERE SL.SCHOOL_CODE = CP.SCHOOL_CODE
	  AND CP.C_SIGNUP_CODE = CK.C_SIGNUP_CODE
	  AND SL.SIGUNGU_NUM = SU.SIGUNGU_NUM

</select>

<select id="askList" resultType="com.scv.admin.dto.ChiefAskDTO">
	SELECT ROWNUM, UO.USER_ID, UO.USER_NAME, UO.USER_TEL, SL.SCHOOL_NAME, UO.USER_BIRTH
	     , CP.BUSINESS_LICENSE, CP.SIGNUP_DATE, SU.SIGUNGU_NAME
	FROM SCHOOL SL, CHIEFSIGNUP CP, USERCODE UE, USERINFO UO, SIGUNGU SU
	WHERE SL.SCHOOL_CODE = CP.SCHOOL_CODE
	  AND UE.USER_CODE = CP.USER_CODE
	  AND UE.USER_CODE = UO.USER_CODE
	  AND SU.SIGUNGU_NUM = SL.SIGUNGU_NUM
</select>
	
<select id="allowList" resultType="com.scv.admin.dto.AllowListDTO">
	SELECT ROWNUM, UO.USER_ID, UO.USER_NAME, CP.SIGNUP_DATE, UO.USER_BIRTH, UO.USER_TEL
	     , CP.BUSINESS_LICENSE, CK.SIGNUP_OK_DATE
	FROM SCHOOL SL, CHIEFSIGNUP CP, USERCODE UE, USERINFO UO, CSIGNUPCHECK CK, CHIEFSIGNUPOK COK
	WHERE SL.SCHOOL_CODE = CP.SCHOOL_CODE
	  AND CP.USER_CODE = UE.USER_CODE
	  AND UE.USER_CODE = UO.USER_CODE
	  AND CP.C_SIGNUP_CODE = CK.C_SIGNUP_CODE
	  AND CK.C_SIGNUP_CK_CODE = COK.C_SIGNUP_CK_CODE
	  AND COK.STAFF_CODE IS NOT NULL
</select>

<select id="nonAllowList" resultType="com.scv.admin.dto.AllowListDTO">
	SELECT ROWNUM, UO.USER_ID, UO.USER_NAME, CP.SIGNUP_DATE, UO.USER_BIRTH, UO.USER_TEL
	     , CP.BUSINESS_LICENSE, CK.SIGNUP_OK_DATE
	FROM SCHOOL SL, CHIEFSIGNUP CP, USERCODE UE, USERINFO UO, CSIGNUPCHECK CK, CHIEFREJECT CT
	WHERE SL.SCHOOL_CODE = CP.SCHOOL_CODE
	  AND CP.USER_CODE = UE.USER_CODE
	  AND UE.USER_CODE = UO.USER_CODE
	  AND CP.C_SIGNUP_CODE = CK.C_SIGNUP_CODE
	  AND CK.C_SIGNUP_CK_CODE = CT.C_SIGNUP_CK_CODE
	  AND CT.C_REJECT_REASON IS NOT NULL
</select>
</mapper>